<div class="container help about">
	<div class="well">
		
		<h1>
			Welcome!
		</h1>
		
		<h4>
			We are the programmers of the Agenda Planner. 
		</h4>
		
		<div class="row">
			<div class="col-sm-4">
				<img id="aboutPic" ng-src="assets/img/Astrid_Rauscha_Foto.JPG" alt="Picture of Astrid Rauscha">
			</div>
			<div class="cols-sm-7">
				<p>
					My name is Astrid Rauscha (Stockholm, Sweden). I am a web designer, web developer, interface 
					designer and coder. I am very interested about Social Media, designing, film production and 
					photography.
				</p>
				<a href="mailto:rauscha@kth.se">Send me a mail</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-8">
				<p id="secondP">
					TODO
				</p>
				<a href="mailto:">Send me a mail</a>
			</div>
			<div class="cols-sm-4">
				<img id="aboutPic" ng-src="" alt="Picture of Jessica Spratley">
			</div>
		</div>
		
		<h4 id="secondH4">
			If you want to work with us, just send us a mail. We will be happy with interesting projects and look forward
			to fruitful partnership. 
		</h4>
	</div>
</div>