<div class="container help about">
	<div class="well">
		
		<h1>
			Welcome!
		</h1>
		
		<h4>
			We are the programmers of the Agenda Planner. 
		</h4>
		
		<div class="row">
			<div class="col-sm-4">
				<img class="aboutPic" ng-src="assets/img/Astrid_Rauscha_Foto.JPG" alt="Picture of Astrid Rauscha">
			</div>
			<div class="col-sm-7">
				<p>
					My name is Astrid Rauscha (Stockholm, Sweden). I am a web designer, web developer, interface 
					designer and coder. I am very interested about Social Media, designing, film production and 
					photography. I have worked primarily with HTML, CSS, JS, Java, Python and PHP.
				</p>
				<a href="mailto:rauscha@kth.se">Send me a mail</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<img class="aboutPic" id="jessicaPic" ng-src="assets/img/jessica_picture.jpg" alt="Picture of Jessica Spratley">
			</div>
			<div class="col-sm-7">
				<p id="secondP">
					Hello!  I'm Jessica Spratley.  Currently I'm studying abroad at KTH in Stockholm, Sweden, but my
					home school is the University of Illinois in Urbana-Champaign.  My chief interest is user interface design
					and development.  I have worked primarily on web development, using tools such as Knockout.js, Bootstrap,
					JQuery, and Angular.
				</p>
				<a href="mailto:jessicaspratley@gmail.com">Send me a mail</a>
			</div>
		</div>
		
		<h4 id="secondH4">
			If you want to work with us, just send us a mail. We will be happy with interesting projects and look forward
			to fruitful partnership. 
		</h4>
	</div>
</div>