<div ng-controller="AgendaCtrl as ctrl">
	
	<!-- Adds a container for each created day -->
	<div class="col-sm-3 jumbotron day" ng-repeat="day in days">
			
		<!-- Header of container -->
		<div class="alert header day" role="alert" ng-drop="true" ng-drop-success="onDropCompleteDay($index, $data, $event)">
			<a ng-href="#/agenda" ng-drag="true" ng-drag-data="day">
				<span class="glyphicon glyphicon-move" id="moveIcon"></span>
			</a>
			<table style="width:100%">
				<tr>
					<td id="cell1">
						<p>{{startSlot}}</p>
					</td>
					<td class="cell2 input">
						<input class="form-control" type="text" ng-model="day.startTime" ng-change="day.updateStartTime()" ng-required="true" ng-minlength="3" ng-maxlength="5">
					</td>
					<td rowspan="3">
						<canvas width="75" height="110" ng-init="drawGraphic($index)"></canvas>
					</td>	
				</tr>
				<tr>
					<td>
						<p>{{endSlot}}</p>
					</td>
					<td class="cell2">
						<p>{{day.getEnd()}}</p>
					</td>
						
				</tr>
				<tr>
					<td>
						<p>{{totalLengthSlot}}</p>
					</td>
					<td class="cell2">
						<p>{{day.getTotalLength()}} {{minute}}</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>{{date}}</p>
					</td>
					<td class="cell2 input" >
						<p class="input-group">
						 	<input class="form-control" type="text" uib-datepicker-popup ng-model="day._date" is-open="popupArray[$index].opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
						    <span class="input-group-btn">
						    	<button type="button" class="btn btn-default" ng-click="open($index)"><i class="glyphicon glyphicon-calendar"></i></button>
						    </span>
						 </p>
					</td>
				</tr>
			</table>
				
		</div>
			
		<!-- Body of container -->
		<div class="well body" ng-controller="ActivityCtrl">
				
			<div class="row dropzone" ng-repeat="activity in day._activities" ng-drop="true" ng-drop-success="onDropCompleteActivity($index, $data, $event, $parent.$index)">
					
				<!-- drag div--> 
				<div class="activityPreview" ng-click="findActivity($index, $parent.$index)" data-toggle="modal" data-target="#editActivity" ng-drag="true" ng-drag-data="[activity, $parent.$index]">
					<table id="{{activity.getTypeId()}}" style="width: 100%">
						<tr>
							<td>
								<p>{{activity._name}}: </p>
							</td>
							<td id="lengthCol">
								<p>{{activity.getStringLength()}}</p>
							</td>
							<td class="text-center" id="deleteActivity">
								<button type="button" class="close" ng-click="deleteActivityFromDay($parent.$index, $index)">
									<span class="glyphicon glyphicon-trash activity"></span>
								</button>
							</td>
						</tr>	
					</table>
				</div>	
										
			</div>
			<div class="dropzone empty" ng-drop="true" ng-drop-success="onDropCompleteActivity($index, $data, $event, $index)"></div>
		
		</div>
			
		<!-- Footer of container -->
		<div class="container" id="deleteDayDiv" ng-controller="AgendaCtrl">
			<button class="btn btn-danger" ng-click="removeDay($index)" id="deleteButton">
				{{deleteDay}}
			</button>
		</div>
				
	</div>
	
	<!-- Add day button -->
	<div class="col-sm-3 jumbotron dayButton">
		<div class="alert header" role="alert" id="dayButtonHeader">
			<p>{{selectText}}</p>
			
			<uib-timepicker class="timepicker" ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="false">
			</uib-timepicker>
  			
  			<p class="input-group">
				<input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popupDay.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
				<span class="input-group-btn">
				  	<button type="button" class="btn btn-default" ng-click="open(null)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>

		</div>
		
		<button class="btn btn-success" id="addDayButton" ng-click="addDay(mytime.getHours(), mytime.getMinutes(), dt)">
			<h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></h2>
			<br>
			<h2>{{addDayButton}}</h2>
		</button>
	</div>

	<div id="editActivity" class="modal fade" role="dialog" ng-controller="ActivityCtrl as ctrl">
		<div class="modal-dialog modal-md" ng-include="'views/editActivityView.html'"></div>

	</div>

</div>