<div id="main-page">
	<div class="jumbotron main-page">
	  	<h2>{{appName}}</h2>
	  	<hr>
	  	<p> The Agenda Planner is the perfect support for planning your days. Irrespective of whether or not your activity is a presentation, discussion, 
	  		group work or break, you can create an activity and add it to any day you want. By means of a red line, you always know, if your day meets the  
	  		required 30% of break time. Use the Agenda Planner and you will never have to think about your schedule anymore. </p>
	  	<br/>
	  	<p>start now</p>
	  	<p>
	  		<a id="createButton" class="btn btn-primary btn-lg" href="#/agenda" role="button">
	  			{{enterButton}}
	  		</a>
	  	</p>
	</div>
</div>