<div id="main-page">
	<div class="jumbotron main-page">
	  	<h2>{{appName}}</h2>
	  	<hr>
	  	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
	  		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
	  		ipsum dolor sit amet.</p>
	  	<br/>
	  	<p>start quickly</p>
	  	<p>
	  		<a id="createButton" class="btn btn-primary btn-lg" href="#/agenda" role="button">
	  			{{enterButton}}
	  		</a>
	  	</p>
	</div>
</div>