<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">
				<div class="row">
					<div class="col-md-3">
						<img ng-src="assets/img/logo.png" alt="Logo" width="80px" high="20px">
					</div>
					<div class="col-md-6">
						<img id="header_title" ng-src="assets/img/title.png" alt="Logo" width="430px" high="20px">
					</div>
				</div>
			</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="verticalLine"></div>
			<ul class="nav navbar-nav">
				<li ng-class="{ active: isActive('/')}">
					<a ng-href="#/">Home</a>
				</li>
				<li ng-class="{ active: isActive('/agenda')}">
					<a ng-href="#/agenda">Agenda Planner</a>
				</li>
				<li ng-class="{ active: isActive('/help')}">
					<a ng-href="#/help">Help</a>
				</li>
				<li ng-class="{ active: isActive('/about')}">
					<a ng-href="#/about">About</a>
				</li>
			</ul>
		</div>
	</div>
</div>