<div class="navbar navbar-default" role="navigation" id="nav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
			<div class="row">
				<div class="col-xs-3"><img ng-src="" alt="Logo" width="23px" high="23px">
				</div>
				<div class="col-xs-5">
					AgendaPlanner
				</div>
			</div></a>
		</div>
	</div>
</div>