<div class="container help">
	<div class="well">
		<h4>Add a new Day</h4>
		<p>
			At first, click on the "Add a new Day" - button on the "Agenda Planner" page. 
			If you want to set the start time of the day, then click on the arrow above or
			under the first number to change the hour. Then click on the arrow above or under
			the second number to change the minutes. Finally, click on the "Add a new Day" - 
			button.
		</p>
		<br>

		<h4>Delete a Day</h4>
		<p>
			To delete a day, you can click on the "Delete Day" - button of the day, you want 
			to delete, on the "Agenda Planner" page. A small window will open and ask you, if 
			you really want to delete this day. If you confirm, then the day will be deleted. 
		</p>
		<br>

		<h4>Add a new Activity</h4>
		<p>
			At first, click on the "Add Activity" - button on the "Agenda Planner" page. A small
			window will open. Then enter the name and the duration time for the activity. Then 
			select the type and add a description for it. Finally, you can save the activity by 
			clicking on the "Submit" - button. To cancel the process, click on the "Cancel" - button.
		</p>
		<br>

		<h4>Edit an Activity</h4>
		<p>
			In order to edit an activity, you need to double-click on one of the activities - either
			in the parked activities in the sidebar, or the activities listed under each day.  A window
			almost identical to the 'add activity' window will appear, with the fields already filled in with the old values.
			Feel free to change whichever values you like, then just click "Save" and the activity will be updated.
		</p>
		<br>
		
		<h4>Delete an Activity</h4>
		<p>
			To delete an activity, you can click on the dustbin <span class="glyphicon glyphicon-trash"></span> 
			next to the duration time of the activty, which you want to delete. A small window will 
			open and ask you, if you really	want to delete this activity. If you confirm, then the
			activity will be delete. 
		</p>
		<br>
		
		<h4>Add an Activity to a Day</h4>
		<p>
			Click the activity, you want to add to the day, and hold it pressed. Then drag it to 
			the day you want to add it to and drop it.
		</p>
		<br>
		
		<h4>Move an Activity</h4>
		<p>
			It is possible to move activites from the sidebar to a day, between days, within a day 
			or from a day to the sidebar backwards. To move an activity, click it and hold it 
			pressed. Then drag it to the dropzone, where you want to move it, and drop it. 
		</p>
		<br>
		
		<h4>Sort Activites in the Sidebar</h4>
		<p>
			To sort activities in the sidebar, you can use one of the predefined sorting algorithms.
			The first button <span class="glyphicon glyphicon-sort-by-alphabet"></span>, sorts the 
			activties in alphabetical order. The second button 
			<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>, sorts the activities
			reverse alphabetical order. The third button 
			<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>, sorts the activities
			by the type of the activity.
		</p>
		<br>
	</div>
</div>