<div class="container" ng-controller="AgendaCtrl as ctrl">

	<div class="col-md-3" id="sidebar">
		<!--This will be modified later to create a modal instead of directly inputting info-->
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createActivity">
			{{createActivityButton}}
		</button>
		<!--Uses list group bootstrap style-->
		<!--ul class="list-group" ng-repeat="p in parkedActivities">
			<li class="list-group-item">
				<span>{{p.getTypeId()}}</span>
				<span>{{p.getName()}}</span>
				<span class="badge">{{p.getLength()}}</span>
			</li>
		</ul-->
		<!--Uses regular HTML table-->
		<table style="width: 100%">
			<tbody ng-repeat="p in parkedActivities">
				<tr>
					<td>{{p.getTypeId()}}</td>
					<td>{{p.getName()}}</td>
					<td>{{p.getLength()}}</span>
				<tr>
			</tbody>
		</table>
	</div>
	
</div>
