<div class="container" ng-controller="ActivityCtrl as ctrl">

	<div class="col-md-3" id="sidebar">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createActivity">
			{{createActivityButton}}
		</button>
		<!--Uses regular HTML table-->
		<table style="width: 100%">
			<tbody ng-repeat="p in parkedActivities">
				<tr>
					<td>{{p.getTypeId()}}</td>
					<td>{{p.getName()}}</td>
					<td>{{p.getLength()}}</span>
				<tr>
			</tbody>
		</table>
	</div>
	
</div>
