.dropzone {
	height: 6%;
	margin: 0px;
	margin-top: 1px;
	padding: 0px;
	background-color: #d4dddd;
	border-style: solid;
	border-width: 1px;
}

.dropzone.empty {
	background-color: transparent;
	border-style: none;
	height: 50%;
}

.dropzone.empty.sidebar {
	min-height: 750px;
}

.activityPreview {
    margin: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.activityPreview:hover {
    cursor: pointer;
}

.activityPreview table {
	margin: 0px;
	padding-bottom: 0px;
}

.activityPreview td {
	padding-right: 5px;
	padding-left: 5px;
}

.activityPreview p {
	margin: 3px;
	color: white;
	font-size: 18px;
}

.activityPreview td#deleteActivity {
    margin: 0;
    padding: 0;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 15px;
}

.activityPreview td#deleteActivitySidebar {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 20px;
}

.glyphicon.glyphicon-trash.activity {
	font-size: 15px;
	color: #e6e6e6;
}

#lengthCol {
	text-align: right;
}

#nameCol p {
	padding-left: 0px;
	text-align: left;
}

#GroupWork {
    background-color: #d9534f;
    border-color: #d43f3a;
}

#Break {
    background-color: #f0ad4e;
    border-color: #eea236;
}

#Presentation {
    background-color: #337ab7;
    border-color: #2e6da4;
}

#Discussion {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#rowActivity {
	background-color: white;
}
