#activityType {
    display: block;
}

#activityType .btn-primary:focus {
    background-color: #00004d;
}

#activityType .btn-success:focus {
    background-color: #003300;
}

#activityType .btn-danger:focus {
    background-color: #660000;
}

#activityType .btn-warning:focus {
    background-color: #808000;
}