.footer {
	clear: both;
	background-color: #65c1c2;
	color: white;
	height: 35px;
	padding-top: 5px;
}

.footer .container {
	margin-left: 10px;
}

.container {
    padding-left: 0px;
    margin-left: 0;
}

#main-page {
	position:absolute;
  	right: 0px;
  	left: 0px;
  	height: auto;
  	width: 100%;
	background-image: url('../img/workspace.jpg'); 		
}

.jumbotron.main-page {
	margin-top: 18%;
	width: 50%;
	opacity: 0.9;
	padding: 2%;
	margin-bottom: 5%;
}

.navbar {
	background-color: #dc465d;
	height: 90px;
	margin: 0px;
}

#header_title {
	margin-top: 15px;
	margin-left: 0px;
}

.row {
    height: 100%;
}