.footer {
	clear: both;
	background-color: #65c1c2;
	color: white;
	height: 35px;
	padding-top: 5px;
	padding-left: 10px;
}

.container {
    padding-left: 0px;
    margin-left: 0;
}

#main-page {
	position:absolute;
  	right: 0px;
  	left: 0px;
  	height: auto;
  	width: 100%;
	background-image: url('../img/workspace.jpg'); 		
}

.jumbotron.main-page {
	margin-top: 18%;
	width: 50%;
	opacity: 0.9;
	padding: 2%;
	margin-bottom: 5%;
}

.navbar {
	background-color: #dc465d;
	height: 90px;
	margin: 0px;
}

#header_title {
	margin-top: 15px;
	margin-left: 0px;
}

.row {
    height: 100%;
}

#bs-example-navbar-collapse-1 ul {
	margin-left: 100px;
	padding-left: 100px;
	margin-top: 30px;
	border-left: solid 2px white;
}

#bs-example-navbar-collapse-1 a {
	color: white;
	font-weight: 200;
	font-size: 20px;
	padding-bottom: 10px;
	
}

#bs-example-navbar-collapse-1 a:hover {
	color: #000000;
}

.container.help {
	margin-left: 20%;
	margin-top: 15px;
	min-height: 825px;
}
