#sidebar {
    height: 100%;
    margin-left: 2px;
    margin-right: 10px;
    background-color: gray;
    padding-top: 10px;
    border-radius: 2px;
    float: left;
    min-height: 800px;
    font-weight: 200;
}

#sidebar button {
    margin-bottom: 10px;
}

.activityPreview {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    height: 25px;
}

.activityPreview:hover {
    cursor: pointer;
    
}

#Group Work {
    background-color: #ffcccc;
}

#Break {
    background-color: #ffff99;
}

#Presentation {
    background-color: #99c2ff;
}

#Discussion {
    background-color: #99ff99;
}

#rowActivity {
	background-color: white;
}

.row.jumbotron {
	height: 26px;
	padding: 0px;
	margin-bottom: 0px;
}
