#sidebar {
    height: 100%;
    margin-left: 2px;
    margin-right: 10px;
    background-color: gray;
    padding-top: 10px;
    border-radius: 2px;
    float: left;
    min-height: 800px;
}

#sidebar button {
    margin-bottom: 10px;
}

.activityPreview {
    border: 1px solid black;
    padding: 5px;
    height: 25px;
}

.activityPreview:hover {
    cursor: pointer;
}

#GroupWork {
    background-color: #ffcccc;
}

#Break {
    background-color: #ffff99;
}

#Presentation {
    background-color: #99c2ff;
}

#Discussion {
    background-color: #99ff99;
}